<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="icon" href="data:,">
    <title>Game</title>
</head>
<body>
    <div class="game_container">
        <div class="score">
            <div class="score_you">
                <p>{{first_name}} score</p>
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">1</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">2</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">3</span>
                    </div>
                    <div class="number_area">
                        <span class="num n4" data-attr="852369741">4</span>
                    </div>
                </div>
            </div>
            <div class="roll_counter">
                <p>Roll counter</p>
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">1</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">2</span>
                    </div>
                </div>
            </div>
            <div class="score_computer">
                <p>Computer score</p>
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">9</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">9</span>
                    </div>
                    <div class="number_area">
                        <span class="num n3" data-attr="321654987">9</span>
                    </div>
                    <div class="number_area">
                        <span class="num n4" data-attr="852369741">4</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="roll_cubes">
            <div class="you_cubes">

                 <div class="wrapper">

                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">1</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">2</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">3</span>
                    </div>

                </div> <div class="wrapper">

                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">1</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">2</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">3</span>
                    </div>

                </div>
            </div>
            <div class="computer_cubes">
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">1</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">2</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">3</span>
                    </div>

                </div> <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">1</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">2</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">3</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="cubes">

        </div>
    </div>
    <div class="container">
        <form action="/game" method="get">
            <button class="btn" type="submit">
                <div class="in">roll!</div>
            </button>
        </form>
        <form action="/rules" method="post">
            <button class="btn" type="submit">
                <div class="in">Reset</div>
            </button>
        </form>
    </div>
</body>
</html>