<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="icon" href="data:,">
    <title>Game</title>
</head>
<body>
    <div class="game_container">
        <div class="score">
            <div class="score_you">
                <p>{{first_name}} score</p>
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">{{ formatted_you_score[0] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">{{ formatted_you_score[1] }}</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">{{ formatted_you_score[2] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n4" data-attr="852369741">{{ formatted_you_score[3] }}</span>
                    </div>
                </div>
            </div>
            <div class="roll_counter">
                <p>Roll counter</p>
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">{{ formatted_roll_count[0] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">{{ formatted_roll_count[1] }}</span>
                    </div>
                </div>
            </div>
            <div class="score_computer">
                <p>Computer score</p>
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">{{ formatted_computer_score[0] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">{{ formatted_computer_score[1] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n3" data-attr="321654987">{{ formatted_computer_score[2] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n4" data-attr="852369741">{{ formatted_computer_score[3] }}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="roll_cubes">
            <div class="you_cubes">

                 <div class="wrapper">

                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">{{ formatted_you_cube1[0] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">{{ formatted_you_cube1[1] }}</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">{{ formatted_you_cube1[2] }}</span>
                    </div>

                </div> <div class="wrapper">

                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">{{ formatted_you_cube2[0] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">{{ formatted_you_cube2[1] }}</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">{{ formatted_you_cube2[2] }}</span>
                    </div>

                </div>
            </div>
            <div class="computer_cubes">
                <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">{{ formatted_computer_cube1[0] }}</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">{{ formatted_computer_cube1[1] }}</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">{{ formatted_computer_cube1[2] }}</span>
                    </div>

                </div> <div class="wrapper">
                    <div class="number_area">
                        <span class="num n1" data-attr="789456123">{{ formatted_computer_cube2[0] }}1</span>
                    </div>
                    <div class="number_area">
                        <span class="num n2" data-attr="147852369">{{ formatted_computer_cube2[1] }}</span>
                    </div>
                     <div class="number_area">
                        <span class="num n3" data-attr="321654987">{{ formatted_computer_cube2[2] }}</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="cubes">
                <div class="cube_button c3">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 3</div>
                        </button>
                    </form>
                </div>
                <div class="cube_button c4">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 4</div>
                        </button>
                    </form>
                </div>
                <div class="cube_button c6">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 6</div>
                        </button>
                    </form>
                </div>
                <div class="cube_button c8">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 8</div>
                        </button>
                    </form>
                </div>
                <div class="cube_button c10">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 10</div>
                        </button>
                    </form>
                </div>
                <div class="cube_button c12">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 12</div>
                        </button>
                    </form>
                </div>
                <div class="cube_button c20">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 20</div>
                        </button>
                    </form>
                </div>
                <div class="cube_button c100">
                    <form action="/game" method="POST">
                        <button class="btn" type="submit">
                            <div class="in">D 100</div>
                        </button>
                    </form>
                </div>
        </div>
    </div>
    <div class="container">
        <form action="/game" method="POST">
            <button class="btn" type="submit">
                <div class="in">Roll!</div>
            </button>
        </form>
        <form action="">
            <div class="cube c3">
                <div class="face front">
                <p class="numer">1</p>
                </div>
                <div class="face back">
                    <p class="numer">2</p>
                </div>
                <div class="face right">
                    <p class="numer">3</p>
                </div>
                <div class="face left">
                    <p class="numer">4</p>
                </div>
                <div class="face top">
                    <p class="numer">5</p>
                </div>
                <div class="face bottom">
                    <p class="numer">6</p>
                </div>
            </div>
        </form>
        <form action="/game" method="get">
            <button class="btn" type="submit">
                <div class="in">Reset</div>
            </button>
        </form>
    </div>
</body>
</html>