<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>The game 2001</title>
</head>
<body>
    <p class="text">Vitej ve hře 2001</p>
    <div class="container">
        <form action="/start" method="post">
            <button class="btn">
                <div class="in">Start</div>
            </button>
        </form>
            <button class="btn">
                <div class="in">Rules</div>
            </button>





    </div>
</body>
</html>