<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>The game 2001</title>
</head>
<body>
    <div class="banner">
        <div class="baner-text">
            <h1>The game 2001</h1>
        </div>
        <div class="text-wrapper">
        {% if win_score == None %}
            <div class="box b1">I welcome you..</div>
            <div class="box b2">{{first_name}}</div>
            <div class="box b3">Choose a winning score</div>
        {% else %}
            <div class="box b3">Are you ready to play?</div>
            <div class="box b4">{{first_name}}</div>
            <div class="box b5">Hit the START button</div>
        {% endif %}
        </div>
    </div>
    <div class="container">
        {% if win_score != None %}
            <form action="/game" method="get">
                <button class="btn" type="submit">
                    <div class="in">Start</div>
                </button>
            </form>
        {% endif %}
        {% if win_score == None %}
            <div class="select_win_number">
             <form action="/get_win_score" method="POST">
                 <input type="hidden" name="win_score" value="501">
                 <button type="submit" class="cube-button">
                    <div class="cube c3">
                        <div class="face front">
                            <p class="numer">501</p>
                        </div>
                        <div class="face back">
                            <p class="numer">501</p>
                        </div>
                        <div class="face right">
                            <p class="numer">501</p>
                        </div>
                        <div class="face left">
                            <p class="numer">501</p>
                        </div>
                        <div class="face top">
                            <p class="numer">501</p>
                        </div>
                        <div class="face bottom">
                            <p class="numer">501</p>
                        </div>
                    </div>
                 </button>
             </form>
             <form action="/get_win_score" method="POST">
                 <input type="hidden" name="win_score" value="1001">
                 <button type="submit" class="cube-button">
                    <div class="cube c3">
                        <div class="face front">
                            <p class="numer">1001</p>
                        </div>
                        <div class="face back">
                            <p class="numer">1001</p>
                        </div>
                        <div class="face right">
                            <p class="numer">1001</p>
                        </div>
                        <div class="face left">
                            <p class="numer">1001</p>
                        </div>
                        <div class="face top">
                            <p class="numer">1001</p>
                        </div>
                        <div class="face bottom">
                            <p class="numer">1001</p>
                        </div>
                    </div>
                 </button>
             </form>
             <form action="/get_win_score" method="POST">
                 <input type="hidden" name="win_score" value="2001">
                 <button type="submit" class="cube-button">
                    <div class="cube c3">
                        <div class="face front">
                            <p class="numer">2001</p>
                        </div>
                        <div class="face back">
                            <p class="numer">2001</p>
                        </div>
                        <div class="face right">
                            <p class="numer">2001</p>
                        </div>
                        <div class="face left">
                            <p class="numer">2001</p>
                        </div>
                        <div class="face top">
                            <p class="numer">2001</p>
                        </div>
                        <div class="face bottom">
                            <p class="numer">2001</p>
                        </div>
                    </div>
                 </button>
             </form>
        </div>
        {% endif %}
        <form action="/rules" method="post">
            <button class="btn" type="submit">
                <div class="in">Rules</div>
            </button>
        </form>
    </div>
</body>
</html>